.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 80rem;  
  padding: 0 1rem;
  margin: 0 auto;
}
  
.header {
  background-color: #0E5563;
  border-bottom: 4px solid #FEC23A;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
}
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }